# MacOS
.DS_Store

# Python
**/*.py[cod]
**/__pycache__
dist/
__pycache__/
*$py.class

# pip install -e generated
*.egg-info/

# Intellij
.idea/

# Google credentials files
**/GCS-service-account-key.*

# Virtual environment files
/venv*/
.vscode
.env

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

#sonrqube scanner
.scannerwork
/notebooks/example-dev.ipynb
typeReport

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Data Files
**/*.Q
**/*.tsv
**/*.csv

# Extras

.pymon
monkeytype.*
.pytype
.mypy_cache
config-dev.ini
.ruff_cache
