# Intellij IDEA
.idea

# Jupyter Notebooks
.ipynb_checkpoints
.DS_Store
# pip install -e generated
cdapython.egg-info

# Python
*.pyc
**/__pycache__

# pytest
.pytest_cache

#virtualenv
venv
#vscode
.vscode

monkeytype.*

#sonrqube scanner
.scannerwork
/notebooks/example-dev.ipynb
typeReport

.DS_Store
.pymon
*.Q
*.tsv
*.csv
.tox